typings
**/app/**/*.js
**/app/**/*.map
node_modules
jspm_packages
bower_components

.vs
**/*.sou
**/*.user
bin
obj
packages
APM - Start/.idea/APM - Start.iml
APM - Start/.idea/jsLibraryMappings.xml
APM - Start/.idea/misc.xml
APM - Start/.idea/modules.xml
APM - Start/.idea/workspace.xml
APM - Start/.idea/typescript-compiler.xml
APM - Start/.idea/vcs.xml
APM - Start/.idea/watcherTasks.xml
